@model ShoppingCartViewModel


<div class="row checkoutForm">
    <h2>Your cart</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Product</th>
                <th class="text-right">Price</th>
                <th>Tax</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
            <tr>
                <td class="text-center">@line.Amount</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">@line.ItemTax.ToString("c")</td>
                <td class="text-right">
                    @(((line.Amount * line.Product.Price) + line.ItemTax).ToString("c"))
                </td>
                <td class="text-center"><a class="fa fa-remove text-danger remove" asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-ProductId="@line.Product.ProductId"></a></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTaxTotal.ToString("c")
                </td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div>
            <a class="btn btn-success" asp-controller="Product" asp-action="List">Add Another Product</a>
            <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="ClearShoppingCart">Clear Cart</a>
        </div>
    </div>
</div>